extends layout

block content
	h1= title
	div.newemployee
		form(method='post')
			div
				div
					input(type='text', name='title', id='editEmployeeTitle', placeholder='Title')
				div
					input(type='text', name='name', id='editEmployeeName', placeholder='Name')
				div#editEmployeeSubmit
					input(type='submit', value='Save')
		a(href='/')!= "Back to Employee List"